body{
    margin: 0;
    background-color: #DCDCDC;
    font-family: 'Courier New', Courier, monospace
}

#topmenu {
    display: flex;
    background-color: #363636;
    margin: 0;
}

#topmenu li {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

#topmenu li:first-child {
    margin-right: auto;
}

.section1 {
    display: flex;
    height: 33vh;
    background-color: #76323F;
}

.center {
    margin: auto;
    text-align: center;
}

#l1 {
    font-size: xx-large;
    margin: 0;
    color: white;
}

#l2{
    font-size: xx-large;
    margin: 0;
    color: white;
    margin-bottom: 10px;
}

.section2 {
    display: flex;
    width: 33vh;
    text-align: center;
}

.imagemprojeto1 {
    width: 15vw;
    height: 15vw;
    padding-left: 15px;
    padding-top: 15px;
}

#imgproj {
    width: 40%;
}

#txtdes {
    width: 60%;
    text-align: left;
}
