@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    font-family: Karla;
    font-size: 16px;
}

body {
    background-color:lightgray ;
}

main {
    justify-content: center;
    align-items: center;
}

.primeiro {
    background-color: white;
    height: 25%;
    width: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 30px 20px 30px;
    position: relative;
}

.primeiro h1#titulo {
    color: hsl(179, 62%, 43%);
    font-weight: bolder;
    font-size: 18pt;
    padding-bottom: 20px;
}

.primeiro h2#temp {
    color:hsl(71, 73%, 54%);
    padding-bottom: 12px;
}

.primeiro h3#descricao {
    color:lightgray;
    padding-bottom: 10px;
}

.primeiro p {
    padding-top: 10px;
}

.segundo {
    background-color:hsl(179, 62%, 43%);
    height: 25%;
    width: 25%;
    border-bottom-left-radius: 20px;
    padding: 20px 30px 20px 30px;
    color: white;
}

.terceiro {
    background-color:hsl(218, 22%, 67%);
    height: 25%;
    width: 25%;
    border-bottom-right-radius: 20px;
    padding: 20px 30px 20px 30px;
    color: white;
    display: flex;
}